@import url('https://fonts.googleapis.com/css2?family=Pacifico&display=swap');
body {
    font-family: cursive;
    margin: 0;
    background-image: url("aboutme.jpg");
    background-size: cover;
    background-position: center;
    color: #fff;
}

nav {
    width: 100%;
    background-color: rgba(4, 1, 1, 0.8);
    display: flex;
    justify-content: space-between;
    padding: 1em;
    box-sizing: border-box;
}

nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    display: flex;
}

nav ul li {
    margin-left: 2em;
}

nav ul li a, .profile a {
    text-decoration: none;
    color: #fff;
    font-size: 1.2em;
}

.about-me {
    text-align: center;
    padding: 3em;
    background: rgba(4, 1, 1, 0.8);
    border-radius: 15px;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
    margin: 2em auto;
    width: 80%;
}

.about-me h1 {
    font-size: 2.5em;
    margin-bottom: 1em;
    color: #fff;
}

.team {
    display:flex;
    /* flex-wrap: wrap; */
    justify-content: center;
}

.team-member {
    margin: 1em;
    max-width: 500px;
    text-align: center;
    background-color: rgba(4, 1, 1, 0.8);
    padding: 1em;
    border-radius: 15px;
    border: solid 1px white;
    box-shadow: 10px 10px 10px rgb(0, 0, 0);
}

.team-member img {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 0.5em;
    border: 2px solid white;
}

.team-member h3 {
    font-size: 1.5em;
    margin-bottom: 0.5em;
    color: #fff;
}

.team-member p {
    font-size: 1em;
    color: #fff;
    margin-bottom: 0.5em;
}

footer {
    background-color: rgba(4, 1, 1, 0.8);
    color: #fff;
    padding: 1em;
    text-align: center;
    border-top: 1px solid white;
}

/* Responsive Design */
@media (max-width: 768px) {
    body {
        font-family: 'Pacifico', cursive;
    }
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav ul {
        flex-direction: column;
        align-items: center;
    }

    nav ul li {
        margin-left: 0;
        margin-bottom: 1em;
    }

    nav ul li a, .profile a {
        font-size: 1em;
    }

    .about-me {
        padding: 2em;
    }
}

@media (max-width: 480px) {
    nav {
        padding: 0.5em;
    }

    nav ul li a, .profile a {
        font-size: 0.9em;
    }

    .about-me {
        padding: 1em;
    }
}
